doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/highlight/github.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://yandex.st/highlightjs/8.0/highlight.min.js")
    script(src="/javascripts/bundle.js")
  body
    block content
